aiohttp
aiosignal
alembic
annotated-types
anthropic
anyio
asttokens
async-timeout
attrs
Authlib
autoflake
bcrypt
beautifulsoup4
bs4
cachetools
certifi
cffi
charset-normalizer
click
comm
contourpy
coverage
cryptography
cycler
dataclasses-json
debugpy
decorator
defusedxml
Deprecated
dirtyjson
distro
dnspython
ecdsa
email_validator
et-xmlfile
exceptiongroup
executing
fastapi
fastjsonschema
filelock
fireworks-ai
fonttools
frozenlist
fsspec
fuzzywuzzy
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud
google-cloud-core
google-cloud-pubsub
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
groq
grpc-google-iam-v1
grpcio
grpcio-status
gspread
gspread-dataframe
h11
httpcore
httplib2
httpx
httpx-sse
huggingface-hub
idna
iniconfig
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
json_logging
jupyter_client
jupyter_core
kiwisolver
langchain
langchain-anthropic
langchain-community
langchain-core
langchain-fireworks
langchain-groq
langchain-openai
langchain-text-splitters
langsmith
Levenshtein
llama-index
llama-index-agent-openai
llama-index-cli
llama-index-core
llama-index-embeddings-openai
llama-index-indices-managed-llama-cloud
llama-index-legacy
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-readers-llama-parse
llama-parse
llamaindex-py-client
Mako
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mistralai
multidict
mypy-extensions
nbformat
nest-asyncio
networkx
nltk
numpy
oauthlib
openai
openpyxl
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-instrumentation-celery
orjson
packaging
pandas
parso
passlib
pexpect
pillow
pipdeptree
platformdirs
plotly
pluggy
prompt-toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyflakes
Pygments
PyJWT
PyMuPDF
PyMuPDFb
PyMySQL
pyparsing
pypdf
pytest
pytest-cov
pytest-mock
python-dateutil
python-dotenv
python-jose
python-Levenshtein
python-multipart
pytz
PyYAML
pyzmq
rapidfuzz
redis
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
StrEnum
striprtf
tenacity
tiktoken
tokenizers
tomli
tornado
tqdm
traitlets
typing-inspect
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
wcwidth
wrapt
yarl
celery
redis
gevent
asyncmy
sqlalchemy[asyncio]
langgraph                     
langchain-experimental                  
json-logging
copyleaks